{% extends 'base.html.twig' %}

{% block body %}
	<article class="blog-post">
		<h1 class="blog-post-title">{{ post.title }}</h2>
		<p>{{ post.content|raw }}</p>
		<p class="blog-post-meta">{{post.publishedDate|date("d/m/Y")}}
			by
			<a href="#">{{post.user}}</a>
		</p>
	</article>

	<hr/>

	<h3>Commentaires</h3>
	{% for comment in post.comments %}
		{{ include('post/comment.html.twig') }}
	{% endfor %}

	{{form(form)}}{% endblock %}
