{% extends 'base.html.twig' %}

{% block body %}
	<article class="blog-post">
		<h1 class="blog-post-title">Fiche D'Enregistrement </h1>
		<p class="blog-post-meta">Le {{post.publishedDate|date("d/m/Y")}}
			Par le chauffeur
			<a href="#">{{post.user}}</a>
		</p>
		<p>Destination: <b>{{ post.title }} </b> </p>
		<p> Montant Convenu: <b>{{ post.montant }} GNF</b> </p>
		<p>Avance Espece : <b>{{ post.content }} GNF </b> </p>
		<p>N° Bon Livraison: <b>{{ post.bl }}  </b> </p>
		<p>Lieu de  Chargement: <b>{{ post.lieu }} </b> </p>

		
		
	</article>

	 

	<hr/>

	<h3>Commentaires</h3>
	{% for comment in post.comments %}
		{{ include('post/comment.html.twig') }}
	{% endfor %}

	{{form(form)}}{% endblock %}
